<a href="https://colab.research.google.com/github/nagaratnakar/k-hub-tasks/blob/main/K_Hub_week1_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

tuple

In [ ]:
x=("naga","mani","sahitha","roja")
print(type(x))

<class 'tuple'>

access tuple

In [ ]:
x=("naga","mani","sahitha","roja","akhil")
print(x[2])
print(x[-5:-2])
print(x[2:5])
print(x[2:])
print(x[:5])
if "naga"in x:
  print("yes")

sahitha
('naga', 'mani', 'sahitha')
('sahitha', 'roja', 'akhil')
('sahitha', 'roja', 'akhil')
('naga', 'mani', 'sahitha', 'roja', 'akhil')
yes

update tuple

In [ ]:
x=("naga","roja","akhil")
y=list(x)
y[2]="mani"
x=tuple(y)
print(x)

('naga', 'roja', 'mani')

In [ ]:
x=("naga","roja","akhil")
y=list(x)
y.append("mani")
x=tuple(y)
print(x)

('naga', 'roja', 'akhil', 'mani')

In [ ]:
x=("naga","roja","akhil")
y=("mani",)
x+=y

print(x)

('naga', 'roja', 'akhil', 'mani')

In [ ]:
x=('naga', 'roja', 'akhil', 'mani')
y=list(x)
y.remove("naga")
x=tuple(y)
print(x)

('roja', 'akhil', 'mani')

In [ ]:
x=('naga', 'roja', 'akhil', 'mani')
x=()
print(x)

()

Unpack tuple

In [ ]:
x=("naga","mani","akhil","roja","sahitha")
(cricket,kabaddi,*freefire)=x
print(cricket)
print(kabaddi)
print(freefire)

naga
mani
['akhil', 'roja', 'sahitha']

In [ ]:
x=("naga","mani","akhil","roja","sahitha")
(cricket,*kabaddi,freefire)=x
print(cricket)
print(kabaddi)
print(freefire)

naga
['mani', 'akhil', 'roja']
sahitha

Loops

In [ ]:
x=("naga","mani","akhil","roja","sahitha")
for i in range(len(x)):
  print(x[i])

naga
mani
akhil
roja
sahitha

In [ ]:
x=("naga","mani","akhil","roja","sahitha")
i=0
while i <len(x):
  print(x[i])
  i=i+1

naga
mani
akhil
roja
sahitha

Join tuple

In [ ]:
x=("naga","akhil","mani")
y=(1,2,3,4,5)
z=x+y
print(z)

('naga', 'akhil', 'mani', 1, 2, 3, 4, 5)

In [ ]:
x=("naga","akhil","mani")
y=x*2
print(y)

('naga', 'akhil', 'mani', 'naga', 'akhil', 'mani')

In [ ]:
fruits = ('apple', 'banana', 'apple', 'cherry', 'banana', 'apple')
t= fruits.count('apple')
print(t)

3

In [ ]:
fruits = ('apple', 'banana', 'apple', 'cherry', 'banana', 'apple')
t= fruits.index('cherry')
print(t)

3

**SETS**

In [ ]:
X={"NAGA","AKHIL","mani","mani","naga"}
print(x)

('naga', 'akhil', 'mani')

In [ ]:
x={"naga","sai","mouli"}
print(type(x))

<class 'set'>

In [ ]:
X={"NAGA","AKHIL","mani","mani","naga"}
print(len(x))

3

Access sets

In [ ]:
x={"naga","sai","mouli"}
for i in x:
  print(i)

naga
mouli
sai

In [ ]:
x={"naga","sai","mouli"}
print("naga" in x)
print("sai" not in x)

True
False

Add sets

In [ ]:
x={"naga","sai","mouli"}
x.add("akhil")
print(x)

{'naga', 'mouli', 'sai', 'akhil'}

In [ ]:
x={"naga","sai","mouli"}
y={"akhil","ram"}
x.update(y)
print(x)

{'naga', 'ram', 'mouli', 'sai', 'akhil'}

In [ ]:
x={"naga","sai","mouli"}
y=["akhil","ram"]
x.update(y)
print(x)

{'naga', 'ram', 'mouli', 'sai', 'akhil'}

Remove sets

In [ ]:
x={"naga","sai","mouli","akhil","mani"}
x.remove("sai")
print(x)
x.discard("mouli")
print(x)
x.pop()
print(x)
x.clear()
print(x)

{'naga', 'mouli', 'mani', 'akhil'}
{'naga', 'mani', 'akhil'}
{'mani', 'akhil'}
set()

loop

In [ ]:
x={"naga","sai","mouli"}
for i in x:
  print(i)

naga
mouli
sai

join sets

In [ ]:
x={"naga","sai","mouli"}
y={"tillu","akhil","mani"}
z={1,2,3,4,}
c={"a","b","z","x"}
m=x.union(y,z,c)
print(m)
m=x|y|z|c
print(m)

{'mouli', 1, 2, 3, 4, 'mani', 'akhil', 'naga', 'x', 'z', 'sai', 'tillu', 'a', 'b'}
{'mouli', 1, 2, 3, 4, 'mani', 'akhil', 'naga', 'x', 'z', 'sai', 'tillu', 'a', 'b'}

In [ ]:
x={"naga","sai","mouli"}
z=(1,2,3,4,)
m=x.union(z)
print(m)

{'mouli', 1, 2, 3, 4, 'naga', 'sai'}

In [ ]:
x={"naga","sai","mouli"}
z=(1,2,3,4,)
x.update(z)
print(x)

{'mouli', 1, 2, 3, 4, 'naga', 'sai'}

In [ ]:
x={"naga","sai","mouli"}
y={"tillu","naga","akhil"}
z=x.intersection(y)
print(z)
x.intersection_update(y)
print(x)

{'naga'}
{'naga'}
set()

In [ ]:
x={"naga","sai","mouli"}
y={"tillu","naga","akhil"}
z=x.difference(y)
print(z)
z=x-y
print(z)

{'mouli', 'sai'}
{'mouli', 'sai'}

In [ ]:
x={"naga","sai","mouli"}
y={"tillu","naga","akhil"}
z=x.symmetric_difference(y)
print(z)
z=x^y
print(z)

{'mouli', 'sai', 'tillu', 'akhil'}
{'mouli', 'sai', 'tillu', 'akhil'}

In [ ]:
x={"naga","sai","mouli"}
y={"tillu","naga","akhil"}
x.symmetric_difference_update(y)
print(x)

{'akhil', 'sai', 'tillu', 'mouli'}

DICTIONAL

In [3]:
bike={
    "brand":"royal enfield",
    "model":"GT 650",
    "year":2021
}
x=bike["model"]
print(x)

GT 650

In [5]:
bike={
    "brand":"royal enfield",
    "model":"GT 650",
    "year":2021
}
x=bike.keys()
bike["colour"]="silver"
print(x)
x=bike["colour"]
print(x)

dict_keys(['brand', 'model', 'year', 'colour'])
silver

In [6]:
bike={
    "brand":"royal enfield",
    "model":"GT 650",
    "year":2021
}
x=bike.values()
bike["year"]=2023
print(x)

dict_values(['royal enfield', 'GT 650', 2023])

In [7]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
x=bike.items()
bike["year"]=2024
print(x)

dict_items([('brand', 'royal enfield'), ('model', 'classic 350'), ('year', 2024)])

In [8]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
if "year" in bike:
  print("yes")

yes

change items

In [9]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
bike["model"]="gt650"
print(bike)

{'brand': 'royal enfield', 'model': 'gt650', 'year': 2018}

In [10]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
bike.update({"year":2023})
print(bike)

{'brand': 'royal enfield', 'model': 'classic 350', 'year': 2023}

add items

In [11]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
bike.update({"colour":"black"})
print(bike)

{'brand': 'royal enfield', 'model': 'classic 350', 'year': 2018, 'colour': 'black'}

remove items

In [12]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
bike.pop("model")
print(bike)

{'brand': 'royal enfield', 'year': 2018}

In [13]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
bike.popitem()
print(bike)

{'brand': 'royal enfield', 'model': 'classic 350'}

In [14]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
del bike["brand"]
print(bike)

{'model': 'classic 350', 'year': 2018}

In [15]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
bike.clear()
print(bike)

{}

In [16]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
for i in bike:
  print(i)

brand
model
year

In [17]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
for i in bike.keys():
  print(i)

brand
model
year

In [18]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
for i in bike.values():
  print(i)

royal enfield
classic 350
2018

In [19]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
for i in bike.items():
  print(i)

('brand', 'royal enfield')
('model', 'classic 350')
('year', 2018)

In [20]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
mybike=bike.copy()
print(mybike)

{'brand': 'royal enfield', 'model': 'classic 350', 'year': 2018}

In [21]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
mybike=dict(bike)
print(mybike)

{'brand': 'royal enfield', 'model': 'classic 350', 'year': 2018}

nested loop

In [22]:
store= {
    "bike1":{
        "name":"royal enfiled",
        "model":"gt650",
        "year":2023
    },
    "bike2":{
        "name":"pulsar",
        "model":"220",
        "year":2015
    },
    "bike3":{
        "name":"ktm",
        "model":"duke",
        "year":2018

    }

}
print(store)

{'bike1': {'name': 'royal enfiled', 'model': 'gt650', 'year': 2023}, 'bike2': {'name': 'pulsar', 'model': '220', 'year': 2015}, 'bike3': {'name': 'ktm', 'model': 'duke', 'year': 2018}}

In [23]:
car1={
    "name":"bmw",
    "cost":"18cr",
    "year":2023
}
car2={
    "name":"suzuki",
    "cost":"5l",
    "year":2012
}
car3={
    "name":"audi",
    "cost":"20cr",
    "year":2022
}
store={
    "car1":car1,
    "car2":car2,
    "car3":car3
}
print(store)

{'car1': {'name': 'bmw', 'cost': '18cr', 'year': 2023}, 'car2': {'name': 'suzuki', 'cost': '5l', 'year': 2012}, 'car3': {'name': 'audi', 'cost': '20cr', 'year': 2022}}

In [24]:
car1={
    "name":"bmw",
    "cost":"18cr",
    "year":2023
}
car2={
    "name":"suzuki",
    "cost":"5l",
    "year":2012
}
car3={
    "name":"audi",
    "cost":"20cr",
    "year":2022
}
store={
    "car1":car1,
    "car2":car2,
    "car3":car3
}
print(store["car3"]["name"])

audi

In [30]:
car1={
    "name":"bmw",
    "cost":"18cr",
    "year":2023
}
car2={
    "name":"suzuki",
    "cost":"5l",
    "year":2012
}
car3={
    "name":"audi",
    "cost":"20cr",
    "year":2022
}
store={
    "car1":car1,
    "car2":car2,
    "car3":car3
}
for key,value in store.items():
  print(keys":" ,value)

SyntaxError: invalid syntax (ipython-input-1055120378.py, line 22)