<a href="https://colab.research.google.com/github/nagaratnakar/k-hub-tasks/blob/main/K_Hub_week1_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

tuple

In [ ]:
x=("naga","mani","sahitha","roja")
print(type(x))

<class 'tuple'>

access tuple

In [ ]:
x=("naga","mani","sahitha","roja","akhil")
print(x[2])
print(x[-5:-2])
print(x[2:5])
print(x[2:])
print(x[:5])
if "naga"in x:
  print("yes")

sahitha
('naga', 'mani', 'sahitha')
('sahitha', 'roja', 'akhil')
('sahitha', 'roja', 'akhil')
('naga', 'mani', 'sahitha', 'roja', 'akhil')
yes

update tuple

In [ ]:
x=("naga","roja","akhil")
y=list(x)
y[2]="mani"
x=tuple(y)
print(x)

('naga', 'roja', 'mani')

In [ ]:
x=("naga","roja","akhil")
y=list(x)
y.append("mani")
x=tuple(y)
print(x)

('naga', 'roja', 'akhil', 'mani')

In [ ]:
x=("naga","roja","akhil")
y=("mani",)
x+=y

print(x)

('naga', 'roja', 'akhil', 'mani')

In [ ]:
x=('naga', 'roja', 'akhil', 'mani')
y=list(x)
y.remove("naga")
x=tuple(y)
print(x)

('roja', 'akhil', 'mani')

In [ ]:
x=('naga', 'roja', 'akhil', 'mani')
x=()
print(x)

()

Unpack tuple

In [ ]:
x=("naga","mani","akhil","roja","sahitha")
(cricket,kabaddi,*freefire)=x
print(cricket)
print(kabaddi)
print(freefire)

naga
mani
['akhil', 'roja', 'sahitha']

In [ ]:
x=("naga","mani","akhil","roja","sahitha")
(cricket,*kabaddi,freefire)=x
print(cricket)
print(kabaddi)
print(freefire)

naga
['mani', 'akhil', 'roja']
sahitha

Loops

In [ ]:
x=("naga","mani","akhil","roja","sahitha")
for i in range(len(x)):
  print(x[i])

naga
mani
akhil
roja
sahitha

In [ ]:
x=("naga","mani","akhil","roja","sahitha")
i=0
while i <len(x):
  print(x[i])
  i=i+1

naga
mani
akhil
roja
sahitha

Join tuple

In [ ]:
x=("naga","akhil","mani")
y=(1,2,3,4,5)
z=x+y
print(z)

('naga', 'akhil', 'mani', 1, 2, 3, 4, 5)

In [ ]:
x=("naga","akhil","mani")
y=x*2
print(y)

('naga', 'akhil', 'mani', 'naga', 'akhil', 'mani')

In [ ]:
fruits = ('apple', 'banana', 'apple', 'cherry', 'banana', 'apple')
t= fruits.count('apple')
print(t)

3

In [ ]:
fruits = ('apple', 'banana', 'apple', 'cherry', 'banana', 'apple')
t= fruits.index('cherry')
print(t)

3

**SETS**

In [ ]:
X={"NAGA","AKHIL","mani","mani","naga"}
print(x)

('naga', 'akhil', 'mani')

In [ ]:
x={"naga","sai","mouli"}
print(type(x))

<class 'set'>

In [ ]:
X={"NAGA","AKHIL","mani","mani","naga"}
print(len(x))

3

Access sets

In [ ]:
x={"naga","sai","mouli"}
for i in x:
  print(i)

naga
mouli
sai

In [ ]:
x={"naga","sai","mouli"}
print("naga" in x)
print("sai" not in x)

True
False

Add sets

In [ ]:
x={"naga","sai","mouli"}
x.add("akhil")
print(x)

{'naga', 'mouli', 'sai', 'akhil'}

In [ ]:
x={"naga","sai","mouli"}
y={"akhil","ram"}
x.update(y)
print(x)

{'naga', 'ram', 'mouli', 'sai', 'akhil'}

In [ ]:
x={"naga","sai","mouli"}
y=["akhil","ram"]
x.update(y)
print(x)

{'naga', 'ram', 'mouli', 'sai', 'akhil'}

Remove sets

In [ ]:
x={"naga","sai","mouli","akhil","mani"}
x.remove("sai")
print(x)
x.discard("mouli")
print(x)
x.pop()
print(x)
x.clear()
print(x)

{'naga', 'mouli', 'mani', 'akhil'}
{'naga', 'mani', 'akhil'}
{'mani', 'akhil'}
set()

loop

In [ ]:
x={"naga","sai","mouli"}
for i in x:
  print(i)

naga
mouli
sai

join sets

In [ ]:
x={"naga","sai","mouli"}
y={"tillu","akhil","mani"}
z={1,2,3,4,}
c={"a","b","z","x"}
m=x.union(y,z,c)
print(m)
m=x|y|z|c
print(m)

{'mouli', 1, 2, 3, 4, 'mani', 'akhil', 'naga', 'x', 'z', 'sai', 'tillu', 'a', 'b'}
{'mouli', 1, 2, 3, 4, 'mani', 'akhil', 'naga', 'x', 'z', 'sai', 'tillu', 'a', 'b'}

In [ ]:
x={"naga","sai","mouli"}
z=(1,2,3,4,)
m=x.union(z)
print(m)

{'mouli', 1, 2, 3, 4, 'naga', 'sai'}

In [ ]:
x={"naga","sai","mouli"}
z=(1,2,3,4,)
x.update(z)
print(x)

{'mouli', 1, 2, 3, 4, 'naga', 'sai'}

In [ ]:
x={"naga","sai","mouli"}
y={"tillu","naga","akhil"}
z=x.intersection(y)
print(z)
x.intersection_update(y)
print(x)

{'naga'}
{'naga'}
set()

In [ ]:
x={"naga","sai","mouli"}
y={"tillu","naga","akhil"}
z=x.difference(y)
print(z)
z=x-y
print(z)

{'mouli', 'sai'}
{'mouli', 'sai'}

In [ ]:
x={"naga","sai","mouli"}
y={"tillu","naga","akhil"}
z=x.symmetric_difference(y)
print(z)
z=x^y
print(z)

{'mouli', 'sai', 'tillu', 'akhil'}
{'mouli', 'sai', 'tillu', 'akhil'}

In [ ]:
x={"naga","sai","mouli"}
y={"tillu","naga","akhil"}
x.symmetric_difference_update(y)
print(x)

{'akhil', 'sai', 'tillu', 'mouli'}

DICTIONAL

In [ ]:
bike={
    "brand":"royal enfield",
    "model":"GT 650",
    "year":2021
}
x=bike["model"]
print(x)

GT 650

In [ ]:
bike={
    "brand":"royal enfield",
    "model":"GT 650",
    "year":2021
}
x=bike.keys()
bike["colour"]="silver"
print(x)
x=bike["colour"]
print(x)

dict_keys(['brand', 'model', 'year', 'colour'])
silver

In [ ]:
bike={
    "brand":"royal enfield",
    "model":"GT 650",
    "year":2021
}
x=bike.values()
bike["year"]=2023
print(x)

dict_values(['royal enfield', 'GT 650', 2023])

In [ ]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
x=bike.items()
bike["year"]=2024
print(x)

dict_items([('brand', 'royal enfield'), ('model', 'classic 350'), ('year', 2024)])

In [ ]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
if "year" in bike:
  print("yes")

yes

change items

In [ ]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
bike["model"]="gt650"
print(bike)

{'brand': 'royal enfield', 'model': 'gt650', 'year': 2018}

In [ ]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
bike.update({"year":2023})
print(bike)

{'brand': 'royal enfield', 'model': 'classic 350', 'year': 2023}

add items

In [ ]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
bike.update({"colour":"black"})
print(bike)

{'brand': 'royal enfield', 'model': 'classic 350', 'year': 2018, 'colour': 'black'}

remove items

In [ ]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
bike.pop("model")
print(bike)

{'brand': 'royal enfield', 'year': 2018}

In [ ]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
bike.popitem()
print(bike)

{'brand': 'royal enfield', 'model': 'classic 350'}

In [ ]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
del bike["brand"]
print(bike)

{'model': 'classic 350', 'year': 2018}

In [ ]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
bike.clear()
print(bike)

{}

In [ ]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
for i in bike:
  print(i)

brand
model
year

In [ ]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
for i in bike.keys():
  print(i)

brand
model
year

In [ ]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
for i in bike.values():
  print(i)

royal enfield
classic 350
2018

In [ ]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
for i in bike.items():
  print(i)

('brand', 'royal enfield')
('model', 'classic 350')
('year', 2018)

In [ ]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
mybike=bike.copy()
print(mybike)

{'brand': 'royal enfield', 'model': 'classic 350', 'year': 2018}

In [ ]:
bike={
    "brand":"royal enfield",
    "model":"classic 350",
    "year":2018
}
mybike=dict(bike)
print(mybike)

{'brand': 'royal enfield', 'model': 'classic 350', 'year': 2018}

nested loop

In [ ]:
store= {
    "bike1":{
        "name":"royal enfiled",
        "model":"gt650",
        "year":2023
    },
    "bike2":{
        "name":"pulsar",
        "model":"220",
        "year":2015
    },
    "bike3":{
        "name":"ktm",
        "model":"duke",
        "year":2018

    }

}
print(store)

{'bike1': {'name': 'royal enfiled', 'model': 'gt650', 'year': 2023}, 'bike2': {'name': 'pulsar', 'model': '220', 'year': 2015}, 'bike3': {'name': 'ktm', 'model': 'duke', 'year': 2018}}

In [ ]:
car1={
    "name":"bmw",
    "cost":"18cr",
    "year":2023
}
car2={
    "name":"suzuki",
    "cost":"5l",
    "year":2012
}
car3={
    "name":"audi",
    "cost":"20cr",
    "year":2022
}
store={
    "car1":car1,
    "car2":car2,
    "car3":car3
}
print(store)

{'car1': {'name': 'bmw', 'cost': '18cr', 'year': 2023}, 'car2': {'name': 'suzuki', 'cost': '5l', 'year': 2012}, 'car3': {'name': 'audi', 'cost': '20cr', 'year': 2022}}

In [ ]:
car1={
    "name":"bmw",
    "cost":"18cr",
    "year":2023
}
car2={
    "name":"suzuki",
    "cost":"5l",
    "year":2012
}
car3={
    "name":"audi",
    "cost":"20cr",
    "year":2022
}
store={
    "car1":car1,
    "car2":car2,
    "car3":car3
}
print(store["car3"]["name"])

audi

In [ ]:
  car1={
    "name":"bmw",
    "cost":"18cr",
    "year":2023
}
car2={
    "name":"suzuki",
    "cost":"5l",
    "year":2012
}
car3={
    "name":"audi",
    "cost":"20cr",
    "year":2022
}
store={
    "car1":car1,
    "car2":car2,
    "car3":car3
}
for keys,values in store.items():
  print("keys:",keys,"values:",values)

keys: car1 values: {'name': 'bmw', 'cost': '18cr', 'year': 2023}
keys: car2 values: {'name': 'suzuki', 'cost': '5l', 'year': 2012}
keys: car3 values: {'name': 'audi', 'cost': '20cr', 'year': 2022}

In [ ]:
car1={
    "name":"bmw",
    "cost":"18cr",
    "year":2023
}
car2={
    "name":"suzuki",
    "cost":"5l",
    "year":2012
}
car3={
    "name":"audi",
    "cost":"20cr",
    "year":2022
}
store={
    "car1":car1,
    "car2":car2,
    "car3":car3
}
for key,value in store.items():
  print("key:", key, "value:", value)

key: car1 value: {'name': 'bmw', 'cost': '18cr', 'year': 2023}
key: car2 value: {'name': 'suzuki', 'cost': '5l', 'year': 2012}
key: car3 value: {'name': 'audi', 'cost': '20cr', 'year': 2022}

conditional

In [ ]:
a=-5

if a>0:
  print("positive number")
else:
  print("negative number")

negative number

In [ ]:
a=13
x=a%2
if x==0:
  print("even number")
else:
  print("odd number")

odd number

In [ ]:
a=60
if a>18:
  print("eligible for vote")
else:
  print("not eligible for vote")

eligible for vote

In [ ]:
a=23
b=46
if a>b:
  print(a)
else:
  print(b)

46

In [ ]:
a=69
x=a%5
if x==0:
  print("divisible")
else:
  print("not divisible")

not divisible

In [ ]:
a=9
if a<10:
  print("hello")

hello

In [ ]:
a=input("Python is a popular programming language. It was created by Guido van Rossum, and released in 1991")
if a=="python":
  print("yes")
else:
  print("no")

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991java
no

In [ ]:
a=2024
if  a%4:
  print("leap year")
else:
  print("not a leap year")

not a leap year

In [ ]:
a=13
if a>=10 and a<=20:
  print("yes")
else:
  print("no")

yes

In [ ]:
a=int(input("number:"))
if a>0:
  print("positive number")
else:
  print("negative number")

number:43
positive number

In [ ]:
a=68
b=43
c=65
if a > b and a > c:
  print(a)
elif b> a and b > c:
  print(b)
else :
  print(c)

68

In [ ]:
a=32
if a%3==0 and a%7==0:
  print ("divisible")
else:
  print("not")

not

In [ ]:
a=34
if a<=99 and a>=80:
  print("a grade")
elif a<=79 and a>=60:
  print("b grade")
elif a<=59 and a>=40:
  print("c grade")
else:
  print("fail")

fail

In [ ]:
temp=int(input("temperature"))
if temp > 30:
    print("hot")
elif temp <= 30 and temp >= 20:
    print("warm")
else:
    print("cold")

temperature23
warm

In [ ]:
a=int(input("number"))
if a%4==0 and a%8!=0:
  print("multiple of 4 but not multiple of 8")
else:
  print("multiples of both")

number28
multiple of 4 but not multiple of 8

In [ ]:
letter=str(input("letter"))
if letter in "aeiou":
  print("vowle")
else:
  print("constant")

letteri
vowle

In [ ]:
password =str(input("enter"))
if password=="admin123":
  print("access granted")
else:
  print("access denied")

enter123admin
access denied

In [ ]:
a=input("Python is a popular programming language. It was created by Guido van Rossum, and released in 1991")
if a=="python":
  print("yes")
else:
  print("no")

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991java
no

In [ ]:
a=int(input("number"))
if a==0:
  print("zero")
elif a>0:
  print("positive")
else:
  print("negative")

number-9
negative

In [ ]:
a=int(input("number"))
if a>=50 and a%2==0:
  print("greater than 50 and even")
elif a>50 and a!=0:
  print("greater than 50 but odd")
else:
  print("not in condition")

number23
not in condition

In [ ]:
a=int(input("number"))
if a>=1 and a<=100:

  if a%3==0 and a%5==0:
    print("fizzbuzz")
  elif a%3==0 and  a%5!=0:
    print("fizz")
  elif a%3!=0 and a%5==0:
   print("buzz")
  elif a%3!=0 and a%5!=0:
    print("just a number")
else :
  print("out of range")

number16
just a number

In [ ]:
year= int(input("enter year"))
if year%4==0 and year%400==0:
  print("leap century")
elif year%4==0:
  print("leap year")
else:
  print("not a leap year")

enter year2023
not a leap year

In [ ]:
side1 =int(input("side A"))
side2 =int(input("side B"))
side3= int(input("side C"))
if side1==side2==side3:
  print("equilateral triangle")
elif side1==side2 or side1==side3 or side2==side3:
  print("isosceles triangle")
elif side1!=side2!=side3:
  print("scalene triangle")
else :
  print("not a triangle")

side A34
side B34
side C43
isosceles triangle

In [ ]:
a=["naga","akhil","sai","mani"]
for i in a:
  print(i)

naga
akhil
sai
mani

In [ ]:
a=[23,42,66,76,87,98,44,48]
n=len([x for x in a if x%2==0])
print("even numbers :",n)

even numbers : 6

In [ ]:

a=[23,42,66,76,87,98,44,48]
n=sum([x for x in a ])
print("sum :",n)

sum : 484

In [4]:
a = [32, 43, 542, 21, 76]
x = a[0]
for i in a:
    if i > x:
        x = i
print("Greatest number:", x)

Greatest number: 542

In [ ]:
a = [32, 43, 54, 65, 76]
x = a[0]
for i in a:
    if i < x:
         x = i
print("smallest :",x)

smallest : 32

In [ ]:
car={
    "names":"royal enfield",
    "model":"gt650",
    "year":2023

}
x=car.keys()
print(x)

dict_keys(['names', 'model', 'year'])

In [ ]:
store= {
    "bike1":{
        "names":"royal enfield",
        "model":"gt650",
        "year":2023
    },
    "bike2": {
        "names":"pulsar",
        "model":"220",
        "year":2020

    }
}
for keys,values in store.items():
  print("keys:",keys,"values:",values)

keys: bike1 values: {'names': 'royal enfield', 'model': 'gt650', 'year': 2023}
keys: bike2 values: {'names': 'pulsar', 'model': '220', 'year': 2020}

In [ ]:
a=0
i=1
for i in range(10):
  i+=1
  print(i*i)

1
4
9
16
25
36
49
64
81
100

In [22]:
a = ["aravind","mani", "ashok", "sridhar","naga"]
x = []
for i in a:
    if i[0] == "a" or i[0] == "A":
      x.append(i)
print(x)

['aravind', 'ashok']

In [27]:
a = ["aravind","mani", "ashok", "sridhar","naga"]
for i in a:
     if i == "a,e,i,o,u":
      print(i)

In [24]:
a = ["aravind","mani", "ashok", "sridhar","naga"]
for i in a :
  if i.startswith("a") :
    print(i)

aravind
ashok

In [44]:
a = ["Naga","iron","you","mani"]
for i in a :
  n = len([x for x in i if x.lower() in "aeiou"])
  print("vowels:", n)

vowels: 2
vowels: 2
vowels: 2
vowels: 2

In [57]:
a=(32,43,56,76,48,87,65,)
x=int(input("number:"))
have = "No"
for i in a:
    if x == i:
       have = "Yes"

print(have)

number:1
No

[]